{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette{% endblock %}

{% block body %}
    <h1>Créer une Recette</h1>

    {{ include('recette/_form.html.twig') }}

    <a href="{{ path('recette_index') }}" class="btn-sm btn-info">Retour</a>
{% endblock %}
